## This model constuct a networkx graph from data using the following nodes and edges

### Nodes:
- Station
- Bike

### Edges:
- TripFrom (from Station to bike)
- TripTo   (bike to Station)

In [1]:
import pandas as pd
import networkx as nx
from graphgen import fix_columns, create_graph

In [2]:
trips_filename = '../data//201508_trip_data.csv'
stations_filename = '../data/201508_station_data.csv'

trips_df = pd.read_csv(trips_filename)
stations_df = pd.read_csv(stations_filename)

# if columns have spaces in their names we need to replace them with underscore
fix_columns(trips_df)
fix_columns(stations_df)

In [3]:
station_mapper = {
    'nodes': [
        {
            'type'      : 'Station',
            'key'       : 'station_id',
            'attributes': ['station_id', 'name', 'lat', 'long', 'landmark']
        }
    ]
}

bike_mapper = {
    'nodes': [
        {
            'type'      : 'Bike',
            'key'       : 'Bike_#',
            'attributes': ['Bike_#']
        },
    ]
}

edges_mapper = {
    'edges': [
        {
            'type'      : 'TripFrom',
            'from'      : {
                'key'     :'Start_Terminal',
                'node_key': 'station_id'
            },
            'to'        : {
                'key'     : 'Bike_#',
                'node_key': 'Bike_#'
            },
            'attributes': ['Trip_ID', 'Start_Date']
        },
        {
            'type'      : 'TripTp',
            'from'        : {
                'key'     : 'Bike_#',
                'node_key': 'Bike_#'
            },
            'to'      : {
                'key'     :'End_Terminal',
                'node_key': 'station_id'
            },
            'attributes': ['Trip_ID', 'End_Date']
        }
    ]
}

In [4]:
# make sure that second set of nodes does have a unique IDs
# In this example we'll keep the stations as is, and replace the Bike # with the same number appended with 555
trips_df['Bike_#'] = trips_df['Bike_#'].apply(lambda x : 5550000 + x)

In [5]:
display(trips_df.head())

,Trip_ID,Duration,Start_Date,Start_Station,Start_Terminal,End_Date,End_Station,End_Terminal,Bike_#,Subscriber_Type,Zip_Code
0,913460,765,8/31/2015 23:26,Harry Bridges Plaza (Ferry Building),50,8/31/2015 23:39,San Francisco Caltrain (Townsend at 4th),70,5550288,Subscriber,2139
1,913459,1036,8/31/2015 23:11,San Antonio Shopping Center,31,8/31/2015 23:28,Mountain View City Hall,27,5550035,Subscriber,95032
2,913455,307,8/31/2015 23:13,Post at Kearny,47,8/31/2015 23:18,2nd at South Park,64,5550468,Subscriber,94107
3,913454,409,8/31/2015 23:10,San Jose City Hall,10,8/31/2015 23:17,San Salvador at 1st,8,5550068,Subscriber,95113
4,913453,789,8/31/2015 23:09,Embarcadero at Folsom,51,8/31/2015 23:22,Embarcadero at Sansome,60,5550487,Customer,9069

In [11]:

# construct a bidirectional multi-edge graph object
g = nx.MultiDiGraph()

%time g = create_graph(g, graph_mapper = station_mapper, \
                 data_provider = stations_df, update=False)

%time g = create_graph(g, graph_mapper = bike_mapper, \
                 data_provider = trips_df, update=False)

%time g = create_graph(g, graph_mapper = edges_mapper, \
                 data_provider = trips_df)

70
CPU times: user 2.41 ms, sys: 0 ns, total: 2.41 ms
Wall time: 2.42 ms
668
CPU times: user 654 ms, sys: 2.02 ms, total: 656 ms
Wall time: 657 ms
CPU times: user 3.59 s, sys: 89.9 ms, total: 3.68 s
Wall time: 3.68 s

In [12]:
# print(g.get_edge_data(50, 5550288))

{0: {'_type_': 'TripFrom', 'Trip_ID': 913460, 'Start_Date': '8/31/2015 23:26'}, 1: {'_type_': 'TripFrom', 'Trip_ID': 912762, 'Start_Date': '8/31/2015 16:47'}, 2: {'_type_': 'TripFrom', 'Trip_ID': 904150, 'Start_Date': '8/25/2015 9:49'}, 3: {'_type_': 'TripFrom', 'Trip_ID': 861625, 'Start_Date': '7/24/2015 22:04'}, 4: {'_type_': 'TripFrom', 'Trip_ID': 857373, 'Start_Date': '7/22/2015 13:37'}, 5: {'_type_': 'TripFrom', 'Trip_ID': 847865, 'Start_Date': '7/15/2015 15:47'}, 6: {'_type_': 'TripFrom', 'Trip_ID': 836035, 'Start_Date': '7/7/2015 10:55'}, 7: {'_type_': 'TripFrom', 'Trip_ID': 833282, 'Start_Date': '7/4/2015 15:58'}, 8: {'_type_': 'TripFrom', 'Trip_ID': 824284, 'Start_Date': '6/26/2015 17:23'}, 9: {'_type_': 'TripFrom', 'Trip_ID': 770041, 'Start_Date': '5/17/2015 10:38'}, 10: {'_type_': 'TripFrom', 'Trip_ID': 752024, 'Start_Date': '5/4/2015 13:59'}, 11: {'_type_': 'TripFrom', 'Trip_ID': 747377, 'Start_Date': '4/30/2015 9:26'}, 12: {'_type_': 'TripFrom', 'Trip_ID': 741039, 'Start_Date': '4/25/2015 17:20'}, 13: {'_type_': 'TripFrom', 'Trip_ID': 735753, 'Start_Date': '4/22/2015 7:59'}, 14: {'_type_': 'TripFrom', 'Trip_ID': 734790, 'Start_Date': '4/21/2015 15:46'}, 15: {'_type_': 'TripFrom', 'Trip_ID': 704960, 'Start_Date': '3/31/2015 6:20'}, 16: {'_type_': 'TripFrom', 'Trip_ID': 691308, 'Start_Date': '3/20/2015 16:38'}, 17: {'_type_': 'TripFrom', 'Trip_ID': 672416, 'Start_Date': '3/7/2015 23:43'}, 18: {'_type_': 'TripFrom', 'Trip_ID': 667158, 'Start_Date': '3/4/2015 9:19'}, 19: {'_type_': 'TripFrom', 'Trip_ID': 663371, 'Start_Date': '3/2/2015 8:59'}, 20: {'_type_': 'TripFrom', 'Trip_ID': 661049, 'Start_Date': '2/27/2015 10:47'}, 21: {'_type_': 'TripFrom', 'Trip_ID': 650202, 'Start_Date': '2/19/2015 13:19'}, 22: {'_type_': 'TripFrom', 'Trip_ID': 635380, 'Start_Date': '2/8/2015 17:03'}, 23: {'_type_': 'TripFrom', 'Trip_ID': 630822, 'Start_Date': '2/4/2015 7:59'}, 24: {'_type_': 'TripFrom', 'Trip_ID': 621612, 'Start_Date': '1/28/2015 8:46'}, 25: {'_type_': 'TripFrom', 'Trip_ID': 618244, 'Start_Date': '1/26/2015 9:03'}, 26: {'_type_': 'TripFrom', 'Trip_ID': 592261, 'Start_Date': '1/6/2015 8:22'}, 27: {'_type_': 'TripFrom', 'Trip_ID': 588674, 'Start_Date': '12/31/2014 13:11'}, 28: {'_type_': 'TripFrom', 'Trip_ID': 546870, 'Start_Date': '11/17/2014 8:08'}, 29: {'_type_': 'TripFrom', 'Trip_ID': 535999, 'Start_Date': '11/8/2014 15:02'}, 30: {'_type_': 'TripFrom', 'Trip_ID': 518178, 'Start_Date': '10/28/2014 7:14'}, 31: {'_type_': 'TripFrom', 'Trip_ID': 508155, 'Start_Date': '10/21/2014 10:24'}, 32: {'_type_': 'TripFrom', 'Trip_ID': 505395, 'Start_Date': '10/19/2014 12:41'}, 33: {'_type_': 'TripFrom', 'Trip_ID': 505035, 'Start_Date': '10/18/2014 17:20'}, 34: {'_type_': 'TripFrom', 'Trip_ID': 466900, 'Start_Date': '9/24/2014 6:35'}, 35: {'_type_': 'TripFrom', 'Trip_ID': 462192, 'Start_Date': '9/20/2014 14:18'}, 36: {'_type_': 'TripFrom', 'Trip_ID': 461523, 'Start_Date': '9/19/2014 17:28'}, 37: {'_type_': 'TripFrom', 'Trip_ID': 460383, 'Start_Date': '9/19/2014 8:03'}, 38: {'_type_': 'TripFrom', 'Trip_ID': 443786, 'Start_Date': '9/9/2014 7:09'}}